<div class="container">
    <div class="month">
        <div class="arrow" (click)="onLeftArrow()">⬅️</div>
        <div class="title">{{formatCurrentMonth()}}</div>
        <div class="arrow" (click)="onRightArrow()">➡️</div>
    </div>
    <div class="resume">
        <div class="inner-resume">
            <div>Receitas</div>
            <div>R$ 10,00</div>
        </div>
        <div class="inner-resume">
            <div>Despesas</div>
            <div>R$ 10,00</div>
        </div>
        <div class="inner-resume">
            <div>Balanço</div>
            <div>R$ 10,00</div>
        </div>
    </div>
</div>